// colors
$primary-color: blue;
$secondary-color: rgb(154, 247, 149);
$btn-login-color: rgb(225, 215, 215);
$danger-color: red;
$info-color: yellow;
$menu-color: rgb(46, 31, 31);

// fonts
$font-size-primary: 1rem;
$font-size-secondary: 2rem;


