@use "../abstracts/" as *;

.subscribe-newsletter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  gap: 30px;
  &__input-subscribe-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
  }
}
