@use "../abstracts" as *;

.btn {
  &--login {
    @include btn-style(45px, 100px, $btn-login-color);
    @include responsive($small-screen) {
      color: red;
    }
  }
  &--hero {
    @include btn-style(4.375rem, 19.375rem, $danger-color);
  }
  &--suscribe {
    @include btn-style(4.375rem, 19.375rem, $btn-subscribe-color);
    color: white;
  }
  &:active,
  &:hover {
    background-color: $btn-active-color;
  }
}
