@use "../abstracts/" as *;

.search {
  &__label {
    display: none;
  }
  &__input {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    max-height: 4em;
    height: 3em;
    border-radius: 10px;
    background-color: $secondary-color;
    &--newsletter {
      background: none;
      border: none;
    }
    &--nav {
        font-size: 16px;
    }
  }
}
