/* Resets the pages default margin and padding for the entire html file  */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Block */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(130deg, #5baa96, #e1ffea22 80%);
  height: 7rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 9rem;
  height: 2.5rem;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 1rem;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: gray;
  padding-top: 1rem;
  height: 30rem;
  margin: auto;
  background: linear-gradient(180deg, #a45baa, #e1ffea22 60%);
}

.women-popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
  background: linear-gradient(180deg, #3b0440, #cad2cc22 60%);
  cursor: pointer;
  transition-duration: 1s;
}

.product-card:hover {
  transform: scale(1.1);
  transition-duration: 1s;
}

.new-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.subscribe-newsletter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 10rem;
}

/* Element */
.navbar__right-section {
  display: flex;
  padding-left: 3rem;
  gap: 1rem;
  align-items: center;
}

.hero__left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__image {
  width: 25rem;
}
.hero__quotes-text {
  color: #171717;
  font-size: 2.5rem;
  font-weight: 700;
}

.women-popular__item {
  display: flex;
  gap: 2rem;
}

.product-card__description {
  align-items: center;
}

.product-card__img {
  width: 25rem;
}

.product-card__price {
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.5rem;
}

.new-collection__item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
}

.subscribe-newsletter__input-subscribe-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid #e3e3e3;
}

.subscribe-newsletter__email-input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-family: poppins;
  font-size: 16px;
}

/* modifier */
.menu-list--navbar {
  gap: 4rem;
}

.menu-list__item {
  cursor: pointer;
  transition-duration: 1s;
}

.menu-list__item:hover {
  transform: scale(1.5);
  transition-duration: 1s;
}

.menu-list--footerbar {
  gap: 7rem;
}

.btn--hero {
  background: #ff4141;
  width: 19.375rem;
  height: 4.375rem;
  border-radius: 75px;
  color: white;
  font-size: 1.375rem;
  font-weight: 500;
  margin-top: 30px;
}

.btn--hero:active,
.btn--hero:hover {
  background-color: green;
}

.btn--suscribe {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.hero__typewriter-text {
  font-family: monospace;
  color: #180c0c;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(14, 15, 37);
  }
}
